html{
   scroll-behavior: smooth;
}




.navbar {
   background: linear-gradient(45deg, #8de22b, #4caf50, #a8e063);
   background-size: 200% 200%;
   display: flex;
   flex-direction: column;
   animation: greenGradientMove 8s ease-in-out infinite;
}

/* Keyframes for moving the gradient background */
@keyframes greenGradientMove {
   0% {
       background-position: 0% 50%;
   }
   50% {
       background-position: 100% 50%;
   }
   100% {
       background-position: 0% 50%;
   }
}


.navbar a{
   color: rgb(0, 0, 0);
   
   text-decoration: none;
   display: inline-block;
   font-size: 25px;
   padding: 20px;
   font-family: "Silkscreen", sans-serif;
   
   
}

.navbar a:hover,
.navbar a:focus {
   color: #5C2CB0;
   background-color: white;
   border-radius: 10px;
   outline: none;
   
}

.navbar{
   flex-direction: column;
   
}

.navbar ul{
   display: flex;
   justify-content: center;
   list-style: none;
   padding-left: 0px;
   

}


