body {
    font-family: "BPG Nino Mtavruli", Arial, sans-serif;
    text-align: center;
    margin: 0;
    background-color: #f8f9fa;
}

.chat-container, #pickaxe-inline-just_YW8Q5 {
    width: 700px;
    max-width: 100%;
    background-color: rgb(0, 0, 0);
    margin-top: 50px;
    
}

#chatbot{
    display: flex;
    justify-content: center;
    
}




h1 {
    font-size: 90px;
    margin-bottom: 0px;
    
}

#gallery {
    display: flex;
    position: relative;
    padding: 100px;
}

#gallery::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(../img/the_powerful_new_ai_hardware_of_the_future.jpg);
    background-blend-mode: exclusion;
    background-size: cover;
    opacity: 0.5;
    z-index: -1;
}

#gallery > * {
    position: relative;
    z-index: 1;
}

#gallery img {
    max-width: 100%;
    margin: 60px 50px 50px 50px;
    border-radius: 100px;
}

#text {
    font-size: 25px;
    text-align: justify;
    color: black;
    font-weight: 700;
}

footer {
    padding-top: 30px;
}


#contact{
    display: flex;
    justify-content: center;
}

.contact-form {
    margin-top: 30px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 600px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.contact-form button {
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #0056b3;
}
